*{
  padding: 0;
  margin: 0;
  font-size: 16px;
  outline: none;
}
/**
*
*
*   通用颜色
*/
$tz-red:#E33038;
$tz-blue:#009EFF;
$tz-th-gray:#F8F8F8;
/**
*
*
*   通用class样式
*/
.hidden{
  display: none;
}
.height15{
  height: 15px;
  display: block;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
}
/**
*
*
*   页面表单通用样式
*/
.content_box{
  position: relative;
  background: white;
  height: auto;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 20px;
  &::after{
    content: '';
    display: block;
    clear: both;
  }
  .content_title{
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    //border-bottom: 1px solid #ccc;
    img{
      margin-right: 5px;
      min-width: 20px;
    }
    .tag{
      display: inline-block;
      background: $tz-blue;
      font-size: 14px;
      color: white;
      height: 25px;
      font-weight: normal;
      line-height: 25px;
      margin-left: 15px;
      cursor: pointer;
      padding: 0px 10px;
      float: right;
      margin-top: 10px;
    }
  }
  &>span.btn_box{
    display: inline-block;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    height: 30px;
    margin-bottom: 20px;
    margin-top: -20px;
    .search{
      display: inline-block;
      width: 100px;
      text-align: center;
      height: 30px;
      line-height: 30px;
      background: #F01B00;
      color: white;
      border-radius: 30px;
      letter-spacing: 10px;
      border: 1px solid #F01B00;
      margin-right: 25px;
      background: url("../static/imgs/common/search.png") no-repeat 12px 50% / 15px 15px $tz-red;
      text-indent: 25px;
    }
    .clear{
      display: inline-block;
      width: 100px;
      text-align: center;
      height: 30px;
      line-height: 30px;
      background: white;
      color: #F01B00;
      border: 1px solid #F01B00;
      border-radius: 30px;
      letter-spacing: 10px;
      text-indent: 10px;
      border: 1px solid #F01B00;
    }
  }
}
.form_box{
  padding:25px 20px 25px 20px;
  box-sizing: border-box;
  &::after{
    content: '';
    display: block;
    clear: both;
  }
  &.input2_button{
    .input_box{
      width: calc((100% - 100px)/2);
      &.long{
        &>div.input_name{
          width: calc((100% + 50px)/5);
        }
        &>div{
          width: calc(100% - (100% + 50px)/5);
        }
        &>input{
          width: calc(100% - (100% + 50px)/5);
        }
      }
      &>div.input_name{
        width: 100px;
        font-size: 16px;
      }
      &>div{
        display: inline-block;
        width: calc(100% - 100px);
        font-size: 16px;
      }
      &>input{
        display: inline-block;
        width: calc(100% - 100px);
        font-size: 16px;
      }
    }
    button{
      float: left;
      width: 80px;
      margin-left: 20px;
      height: 40px;
      border: 1px solid $tz-blue;
      color: $tz-blue;
      background: white;
      cursor: pointer;
    }
  }
  &.input3{
    .input_box{
      width: calc(100%/3);
      &:first-child{
        &>div.input_name{
          width: calc(100%*3/10);
        }
        &>div{
          width: calc(100% - 100%*3/10);
        }
      }
    }
  }
  .input_box{
    width: 25%;
    height: 40px;
    float: left;
    position: relative;
    margin-bottom: 25px;
    button{
      float: left;
      width: 80px;
      margin-left: 20px;
      height: 40px;
      border: 1px solid $tz-blue;
      color: $tz-blue;
      background: white;
      cursor: pointer;
      transition: all 0.3s;
      &:hover{
        background: $tz-blue;
        color: white;
      }
    }
    &.img_button{
      &>img{
        width: 40px;
        height: 40px;
        float: left;
      }
      button{
        width: 100px;
        margin-left: 10px;
      }
    }
    &.input_button{
      width: 50%;
      &>div.input_name{
        width: 20%;
      }
      &>input{
        width: calc(80% - 100px);
        float: left;
      }
      &>div{
        width: calc(80% - 100px);
        float: left;
      }
    }
    &.textarea{
      width: 100%;
      height: auto;
      &>div.input_name{
        width: 100%;
      }
      textarea{
        height: 100px;
        font-size: 16px;
      }
    }
    &.longText{
      width: 50%;
      &>div.input_name{
        width: 65%;
      }
      &>input{
        width: 35%;
        float: left;
      }
      &>div{
        width: 35%;
        float: left;
      }
    }
    &::after{
      content: '';
      display: block;
      clear: both;
    }
    &[data-veri] > div.input_name  i{
      display: inline-block;
    }
    &>div.input_name{
      float: left;
      width: 40%;
      vertical-align: middle;
      height: 40px;
      text-align: center;
      display: table;
      span{
        display: table-cell;
        vertical-align:middle;
      }
      i{
        display: none;
      }
      i::before{
        content: '*';
        line-height: 40px;
        position: absolute;
        top: 3px;
        margin-left: -10px;
        color: red;
      }
    }
    &>span.ant-calendar-picker{
      display: inline-block;
      width: 60%;
      height: 40px;
      .ant-calendar-picker-input{
        height: 40px;
      }
    }
    &>input{
      display: inline-block;
      width: 60%;
      height: 40px;
      font-size: 16px;
    }
    &>div{
      font-size: 16px;
      display: inline-block;
      width: 60%;
      height: 40px;
      &.ant-radio-group{
        line-height: 40px;
        label{
          margin-right: 0px;
          margin-left: 10px;
        }
      }
      .ant-select-selection{
        height: 40px;
      }
      .ant-select-selection__rendered{
        line-height: 40px;
      }
    }
    &>label{
      margin-left: 10px;
      font-size: 16px;
      display: inline-block;
      margin-top: 11px;
      width: 30%;
      float: left;
      span{
        font-size: 16px;
      }
    }
    .error_tip{
      color: red;
      position: absolute;
      bottom: -23px;
      left: 30%;
      text-align: left;
      text-indent: 17px;
    }
  }
  &>div.btn_box{
    position: relative;
    float: left;
    margin-left: 32px;
    margin-top: 5px;
    button{
      display: inline-block;
      width: 100px;
      text-align: center;
      height: 30px;
      line-height: 30px;
      border-radius: 30px;
      letter-spacing: 10px;
      text-indent: 10px;
      cursor: pointer;
    }
    .search{
      color: white;
      border: 1px solid $tz-red;
      margin-right: 25px;
      background: url("../static/imgs/common/search.png") no-repeat 12px 50% / 15px 15px $tz-red;
      text-indent: 25px;
    }
    .clear{
      background: white;
      color: $tz-red;
      border: 1px solid $tz-red;
      border: 1px solid $tz-red;
    }
  }
}
.table_srocll{
  width: 100%;
  font-size: 16px;
  &.border{
    table{
      border: 1px solid #DDDDDD;
      margin-bottom: 30px;
    }
  }
  table{
    width:100%;
    text-align:center;
    border-collapse:collapse;
    border-spacing:0;
    tr{
      border-bottom: 1px solid #DDDDDD;
      th{
        background: $tz-th-gray;
        font-weight: bold!important;
        padding: 10px 0px;
        color: #373A3C;
      }
      td{
        padding: 10px 0px;
        input{
          width: calc(100% - 20px);
          margin-left: 10px;
          height: 40px;
        }
        .ant-calendar-picker{
          margin-top: 8px;
          width: calc(100% - 20px);
        }
      }
    }
    input[type='radio']{
      vertical-align: 2px;
      margin-right: 5px;
    }
    input[type='checkbox']{
      margin-right: 5px;
    }
  }
}
.ant-calendar-picker{
  margin-top: 8px;
}
.ant-calendar-picker-input{
  font-size: 16px;
  margin-top: -8px;
}
.ant-input-number-input{
  height: 40px;
}
.ant-input-disabled{
  border: 0px;
  background: white;
  color: #373A3C;
}
.ant-select-disabled{
  .ant-select-selection{
    border: 0;
    background: white;
  }
  .ant-select-selection-selected-value{
    color: #373A3C;
  }
  .ant-select-arrow{
    display: none;
  }
}
.ant-calendar-picker-icon{
  margin-top: -16px;
}
/**
*
*
*   组件样式修改
*/
.collection_item {
  .ant-select{
    border: 0px;
    width: 100%;
    height: 80px;
    .ant-select-selection{
      border: 0px;
      height: 78px;
      .ant-select-selection__rendered{
        border: 0px;
        line-height: 78px;
        margin: 0;
        background: #F7F7F7;
      }
      .ant-select-selection-selected-value{
        width: 100%;
      }
    }
  }
  .active{
    .ant-select-selection__rendered{
      background: #D8F0FF!important;
      border:1px solid #009EFF;
    }
    .ant-select-selection-selected-value{
      color: #009EFF;
    }
    .ant-select-arrow{
      color: #009EFF;
    }
  }
  .ant-select-selection__placeholder{
    text-align: center;
    color: #373A3C;
  }
}
